:host {
  display: block;
  width: 100%;
}

.navbar {
  background-color: rgba(0,122,255,255) !important; /* Tam opaklıkta mavi */
  color: white;
  z-index: 1000; /* Üstte görünmesini sağlamak için */
  position: fixed; /* Üstte kalmasını sağlamak için */
  top: 0;
  width: 100%;
}

.navbar-brand {
  color: white !important;
}

.navbar-nav {
  display: flex;
  align-items: center;
  flex-direction: row; /* Menü elemanlarını yatay hizalar */
}

.nav-link {
  color: white !important;
  margin-right: 15px; /* Menü elemanları arasına boşluk ekler */
}

.nav-link:hover {
  color: #adb5bd !important; /* Hover effect color */
}

.form-control {
  margin-left: 15px; /* Arama çubuğu ile menü elemanları arasına boşluk ekler */
}

.container-fluid {
  background-color: rgba(0,122,255,255);
  padding: 0;
}
