<div *ngIf="!dataLoaded" class="d-flex justify-content-center">
  <div class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="dataLoaded && car" class="car-details">
  <h2 class="car-title">{{ car.brandName }} {{ car.modelYear }} Detayları</h2>

  <!-- Kaydırmalı Galeri Başlangıcı -->
  <div class="image-gallery">
    <div class="image-gallery-wrapper">
      <div *ngFor="let image of carImages" class="image-gallery-item">
        <img [src]="image" alt="Araba Resmi" (click)="openImage(image)">
      </div>
    </div>
  </div>
  <!-- Kaydırmalı Galeri Bitişi -->

  <div class="car-info">
    <div class="info-row">
      <span class="info-label">Marka:</span>
      <span class="info-value">{{ car.brandName }}</span>
    </div>
    <div class="info-row">
      <span class="info-label">Renk:</span>
      <span class="info-value">{{ car.colorName }}</span>
    </div>
    <div class="info-row">
      <span class="info-label">Model Yılı:</span>
      <span class="info-value">{{ car.modelYear }}</span>
    </div>
    <div class="info-row">
      <span class="info-label">Günlük Fiyat:</span>
      <span class="info-value">{{ car.dailyPrice }}</span>
    </div>
    <div class="info-row">
      <span class="info-label">Açıklama:</span>
      <span class="info-value">{{ car.description }}</span>
    </div>
    <div class="info-row">
      <span class="info-label">Vites Tipi:</span>
      <span class="info-value">{{ car.transmissionType }}</span>
    </div>
    <div class="info-row">
      <span class="info-label">Günlük Km Limiti:</span>
      <span class="info-value">{{ car.dailyKmLimit }}</span>
    </div>
    <div class="info-row">
      <span class="info-label">Oturma Kapasitesi:</span>
      <span class="info-value">{{ car.seatingCapacity }}</span>
    </div>
    <div class="info-row">
      <span class="info-label">Minimum Ehliyet Yaşı:</span>
      <span class="info-value">{{ car.licenseAge }}</span>
    </div>
    <div class="info-row">
      <span class="info-label">Minimum Yaş:</span>
      <span class="info-value">{{ car.renterAge }}</span>
    </div>
    <div class="info-row">
      <button (click)="openRentalModal()" type="button" class="btn btn-outline-success full-width-btn">Kiralamak için tıkla!</button>
    </div>
  </div>
</div>

<div id="imageModal" class="modal" (click)="closeImage()">
  <span class="close" (click)="closeImage()">&times;</span>
  <img class="modal-content" id="modalImage" [src]="selectedImage">
  <div class="caption">{{ car?.description }}</div>
</div>

<!-- Rental Modal -->
<div id="rentalModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeRentalModal()">&times;</span>
    <form (ngSubmit)="rentCar(car.id, rentDate, returnDate)" #rentalForm="ngForm">
      <div class="form-group">
        <label for="rentDate">Kiralama Tarihi</label>
        <input type="date" [(ngModel)]="rentDate" name="rentDate" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="returnDate">Dönüş Tarihi</label>
        <input type="date" [(ngModel)]="returnDate" name="returnDate" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary full-width-btn2" [disabled]="!rentalForm.form.valid">Ödeme Sayfasına Git</button>
    </form>
  </div>
</div>

