<div class="container mt-5">
  <div *ngIf="!dataLoaded" class="d-flex justify-content-center">
    <div class="spinner-border text-success" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="mb-3">
    <label for="filterText" class="form-label">İstediğin kiralık arabayı ara!</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Aradığın arabayı yaz...">
  </div>

  <div *ngIf="dataLoaded">
    <h2 class="mb-4">Araba Listesi</h2>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let car of cars | filterPipe:filterText:'description'">
        <div class="card h-100">
          <img *ngIf="car.carImages.length" [src]="car.carImages[0]" class="card-img-top" alt="{{ car.description }}">
          <img *ngIf="!car.carImages.length" src="assets/images/default-car.jpg" class="card-img-top" alt="Default Car Image">
          <div class="card-body">
            <h5 class="card-title">{{ car.brandName }} {{ car.modelYear }}</h5>
            <p class="card-text">
              <strong>Renk:</strong> {{ car.colorName }}<br>
              <strong>Günlük Fiyat:</strong> {{ car.dailyPrice }} TL<br>
              <strong>Vites Tipi:</strong> {{ car.transmissionType }}<br>
              <strong>Açıklama:</strong> {{ car.description }}
            </p>
            <button (click)="goToCarDetails(car.id)" class="btn btn-primary">Araç Detayı</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
