.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

h2 {
  margin-top: 0;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-text {
  font-size: 0.875rem;
  line-height: 1.5;
}

.card .btn {
  margin-top: auto;
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.card .btn:hover {
  background-color: #0056b3;
  border-color: #004085;
}

/* styled-label sınıfı için stil tanımlamaları */
.styled-label {
  font-family: 'Roboto', sans-serif; /* Yazı tipi */
  font-size: 1.5rem; /* Yazı boyutu */
  font-weight: bold; /* Kalın yazı */
  color: #007bff; /* Mavi renk */
  text-align: center; /* Ortaya hizalama */
  display: block; /* Blok elemanı yaparak ortalama */
  margin-bottom: 1rem; /* Alt boşluk */
}

/* Arama çubuğunu stilize etme */
.search-container {
  text-align: center; /* Ortaya hizalama */
}

.search-input {
  display: inline-block;
  width: 60%; /* Çubuğun genişliği yazıdan biraz daha uzun olacak şekilde ayarlandı */
  max-width: 700px; /* Maksimum genişlik */
  padding: 0.5rem; /* İç boşluk */
  border: 1px solid #ddd; /* Kenar */
  border-radius: 0.25rem; /* Kenarları yuvarlama */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hafif gölge */
  font-size: 1rem; /* Yazı boyutu */
}


/* Arama çubuğu stil tanımlamaları */
#filterText {
  font-size: 1rem; /* Yazı boyutu */
  padding: 10px; /* İçerik dolgusu */
  border-radius: 5px; /* Kenar yuvarlama */
  border: 1px solid #ced4da; /* Kenarlık rengi */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hafif gölge */
}
