<div class="container mt-5">
  <div *ngIf="!dataLoaded" class="d-flex justify-content-center">
    <div class="spinner-border text-success" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="mb-3">
    <label for="filterText" class="form-label">İstediğin kiralık arabayı ara!</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Aradığın arabayı yaz...">
  </div>
  <div *ngIf="filterText" class="alert alert-success">
    {{filterText}} aradınız.

  </div>

  <div *ngIf="dataLoaded">
    <h2 class="mb-4">Araba Listesi</h2>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Marka</th>
          <th scope="col">Renk</th>
          <th scope="col">Model Yılı</th>
          <th scope="col">Günlük Fiyat</th>
          <th scope="col">Vites Tipi</th>
          <th scope="col">Açıklama</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of cars | filterPipe:filterText" (click)="goToCarDetails(car.id)">
          <th scope="row">{{ car.id }}</th>
          <td>{{ car.brandName }}</td>
          <td>{{ car.colorName }}</td>
          <td>{{ car.modelYear }}</td>
          <td>{{ car.dailyPrice }}</td>
          <td>{{ car.transmissionType }}</td>
          <td>{{ car.description }}</td>
          <td><button type="button" class="btn btn-outline-success">Araç Detayı</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
